@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@keyframes rotation {
    to {
      transform: rotate(360deg);
    }
  }
  

.sun {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    width: 100px; 
    height: 100px;
    background-color: rgb(245, 196, 38);
    border-radius: 50%;

    box-shadow: 0 0 20px 5px rgba(255, 255, 0, 0.5);

}


@keyframes shine {
  to {
    box-shadow: 0 0 40px 10px rgba(221, 169, 27, 0.8);
  }
}

body
{
    font-family: 'Fira Code', monospace;
}
